.orders-table {
  border-collapse: separate;
  border-spacing: 0 12px;
  margin-top: -12px;
  width: 100%;
  .order-options-dropdown {
    border: 0;
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    > div {
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: #dadadd;
      &:not(:last-of-type) {
        margin-right: 2px;
      }
    }
  }
  .status {
    display: flex;
    align-items: center;
    &::before {
      content: " ";
      display: block;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      margin-right: 7px;
    }
    &.fulfilled {
      &::before {
        background-color: green;
      }
    }
    &.verified {
      &::before {
        background-color: blue;
      }
    }
    &.unverified {
      &::before {
        background-color: orange;
      }
    }
  }
  thead {
    background: #ededf3;
    th {
      color: #5b536a;
      font-weight: 500;
      padding: 18px 12px;
    }
  }
  tbody {
    color: #65536a;
    tr {
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 5%);
      td {
        padding: 18px 12px;
      }
    }
    &:first-child td:first-child {
      border-top-left-radius: 5px;
    }
    &:first-child td:last-child {
      border-top-right-radius: 5px;
    }

    &:last-child td:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-child td:last-child {
      border-bottom-right-radius: 5px;
    }
    
  }
}
